@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items: center;
  height: 150px
}

header nav a {
  color: #ffc144;
  display: flex;
  justify-content: center; 
  align-items: center;
  cursor: url(https://cur.cursors-4u.net/special/spe-3/spe268.cur), auto !important;
}

.image-home {
  display: flex;
  justify-content: center;
}

.home-image {
  border-radius: 40px;
  width: 1200px;
  height: 700px;
  margin: 5vh;
}

.modules h1 {
  text-align: center;
  font-size: 95px;
}

.container-grid {
  padding: 2em 0;
  display: grid;
  grid-gap: 2em;
  justify-content: center;
}

.card {
  background-color:#63275c ;
  border-radius: 10px;
  max-width: 75vh;
  display: flex;
  flex-direction: column;
}

.card img{
  width: auto;
  border-radius: 10px;
}

.about {
  margin: 20vh
}

.vid-player {
  padding: 2em 0;
  display: grid;
  grid-gap: 2em;
  justify-content: center;
}

iframe {
  border-radius: 5%;
}

.about-img {
  width: auto;
  margin:20px;
  display: grid;
  grid-gap: 2em;
  justify-content: center;
}

.bab-img {
  border-radius: 50%;
}

.member-form {
  padding: 2em 0;
  display: grid;
  grid-gap: 2em;
  justify-content: center;
}

.member-input {
  border-radius: 10px;
  width: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.member-overlay {
  border-radius: 50%;
  position: absolute;
  width: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}