@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


header nav a{
  color: #ffc144;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items: center;
  height: 150px;
}

.image-home {
  display: flex;
  justify-content: center;
}

.home-image {
  border-radius: 40px;
  width: 1200px;
  height: 700px;
  margin: 5vh;
}

.modules h1 {
  text-align: center;
  font-size: 95px;
}

.container-grid {
  padding: 2em 0;
  display: grid;
  grid-gap: 2em;
  justify-content: center;
}

.card {
  background-color:#63275c ;
  border-radius: 10px;
  max-width: 75vh;
  display: flex;
  flex-direction: column;
}

.card img{
  width: auto;
  border-radius: 10px;
}

.about {
  margin: 20vh
}