* { background-color: #842E86

}

header {
  background-color: #842E86;
  display: flex-row;
  justify-content: flex-start;
  margin-top: 50px;
  align-items: center;
  height: 150px;
  color: #85BDF0
}

header nav a{
  color: #85BDF0;
  margin-left: 40px;
}

