
header nav a{
  color: #edab28;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items: center;
  height: 150px;
}

.card {
  align-self: center;
  background-color:#63275c ;
  border-radius: 10px;
  max-width: 75vh;
}

.card img{
  width: auto;
  border-radius: 10px;
}